$color-main: #FFFFFF;
$color-title:#F2785C;
$color-icon:#F2785C;
$color-text: #0D606F;
$color-button: #0D606F;
$color-planning: #F2785C;
$color-border: #0D606F;
$color-dot: rgba(242, 120, 92, 0.5);
$color-dot_choose: #F2785C;


$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

