.destinations {
    overflow: hidden;
}

.slider {
    display: flex;
    justify-content: center;
    margin: 46px 0 24px 0;
    &__country {
        position: absolute;
        top: 718px;
        left: 15px;
        font-family: 'Red Hat Text';
        @include font ($size: 3.2rem, $height:4.2rem, $weight: 500);
        color: $color-main;
    }
    &__item {
        position: relative;
        max-height: 800px;
        max-width: 800px;
        margin: 0 30px;
        & img {
            max-height: 800px;
            border-radius: 16px;
        }
            }
        }

.dots-navigation {
    display: flex;
    justify-content: center;
    margin: 24px 0 38px 0;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    &:not(:last-child) {
        margin-right: 10px;
    }
    &_color {
        background: $color-dot;
    }
    &_selected {
        background: $color-dot_choose;
    }
}