.destinations {
    overflow: hidden;
    margin-bottom: 80px;
}

.slider {
    display: flex;
    justify-content: center;
    margin: 46px 0 24px 0;
    &__country {
        position: absolute;
        top: 718px;
        left: 15px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        color: $color-main;
    }
}

.slider__item {
    position: relative;
    max-height: 800px;
    max-width: 800px;
    margin: 0 30px;
    & img {
        max-height: 800px;
        border-radius: 16px;
    }
}

.dots-navigation {
    display: flex;
    justify-content: center;
    margin: 24px 0 40px 0;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    &:not(:last-child) {
        margin-right: 10px;
    }
    &_color {
        background: $color-dot;
    }
    &_choose {
        background: $color-dot_choose;
    }
}