.footer {
    background: url(/assets/img/footer_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    &__description{
        display: flex;
        flex-basis: 90%;
        justify-content: center;
        padding: 21px 0;
        margin-left: 144px;
        font-family: 'Red Hat Text';
        @include font ($size: 1.6rem, $height:2.1rem, $weight: 500);
        color: #FFFFFF;
    }
}

.social{
    flex-basis: 10%;
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: end;
        & li{
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}

.footer__wrapper {
    display: flex;
    align-items: center;
}
