.footer {
    background: url(/assets/img/footer_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

.social{
    list-style: none;
}

.footer__wrapper {
    display: flex;
}
.social__list {
    display: flex;
}