.preview__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview  {
    background: url(/assets/img/header-bg.png);
    background-size: cover;
    background-position:center;
    margin-bottom: 80px;
    &__content {
        max-width: 892px;
    }
    &__title {
        padding-top: 122px;
    }
    &__text  {
        padding-top: 33px;
        font-family: 'Aleo';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $color-main;
    }
    &__planning {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
        margin: 45px 0 255px 0px;
    }
    &__placeholder {
        font-family: 'Aleo';
        font-style: italic;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $color-planning;
        padding-left: 41px;
    }
}

