.stories {
    position: relative;
    z-index: 1;
}
.stories__wrapper {
    position: absolute;
    z-index: -1;
    background: url(/assets/img/footer_bg.png);
   // background: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    opacity: .7;
}
    h2 {
        margin-top: 80px;
    }

.story {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
    &__button {
        text-align: center;
        margin-top: 40px;
    }
    &__img {
        max-width: 400px;
        min-height: 250px;
        margin-right: 40px;
        margin-bottom: 30px;
    }
    &__hide {
        @include font ($size: 2rem, $height:2.4rem, $weight: 700);
        color: #0D606F;
    }
    p {
        margin-top: 24px;
    }
}